# Data wrangling

## Libraries

In [1]:
import pandas as pd

## Read data

In [2]:
stations = pd.read_json("data/stations.json")
crimes = pd.read_json("data/crimes.json")
distances = pd.read_json("data/distances.json")
community = pd.read_json("data/community_areas.json")

In [3]:
stations

                station_name      community_area  longitude   latitude
0        3510 S Michigan Ave             DOUGLAS -87.623395  41.830702
1         1160 N Larrabee St     NEAR NORTH SIDE -87.643352  41.903242
2           850 W Addison St           LAKE VIEW -87.651512  41.947400
3         5400 N Lincoln Ave      LINCOLN SQUARE -87.692845  41.979550
4        1900 W Monterey Ave         MORGAN PARK -87.668520  41.691435
5            6464 N Clark St         ROGERS PARK -87.671324  41.999763
6           5555 W Grand Ave      BELMONT CRAGIN -87.765574  41.918609
7            1718 S State St     NEAR SOUTH SIDE -87.627356  41.858373
8       5101 S Wentworth Ave         FULLER PARK -87.630560  41.801811
9   7040 S Cottage Grove Ave            WOODLAWN -87.605748  41.766431
10           2255 E 103rd St       SOUTH DEERING -87.568349  41.707933
11            727 E 111th St             PULLMAN -87.604506  41.692723
12         7808 S Halsted St      AUBURN GRESHAM -87.644229  41.752137
13            1438 W 63rd St      WEST ENGLEWOOD -87.660887  41.779632
14            3420 W 63rd St        CHICAGO LAWN -87.708864  41.778987
15         3120 S Halsted St          BRIDGEPORT -87.646408  41.837394
16          3315 W Ogden Ave      NORTH LAWNDALE -87.708382  41.856685
17        3151 W Harrison St  EAST GARFIELD PARK -87.705488  41.873582
18  1412 S Blue Island Ave\n      NEAR WEST SIDE -87.656973  41.862977
19     2150 N California Ave        LOGAN SQUARE -87.697452  41.921103
20         5701 W Madison St              AUSTIN -87.768200  41.880083
21      5151 N Milwaukee Ave      JEFFERSON PARK -87.766149  41.974094
22         4650 N Pulaski Rd         ALBANY PARK -87.728115  41.966053

## New data

### New stations

In [4]:
new_stations = stations.copy()
new_stations['ID_PS'] = [i for i in range(1,24)]

In [5]:
new_stations

                station_name      community_area  longitude   latitude  ID_PS
0        3510 S Michigan Ave             DOUGLAS -87.623395  41.830702      1
1         1160 N Larrabee St     NEAR NORTH SIDE -87.643352  41.903242      2
2           850 W Addison St           LAKE VIEW -87.651512  41.947400      3
3         5400 N Lincoln Ave      LINCOLN SQUARE -87.692845  41.979550      4
4        1900 W Monterey Ave         MORGAN PARK -87.668520  41.691435      5
5            6464 N Clark St         ROGERS PARK -87.671324  41.999763      6
6           5555 W Grand Ave      BELMONT CRAGIN -87.765574  41.918609      7
7            1718 S State St     NEAR SOUTH SIDE -87.627356  41.858373      8
8       5101 S Wentworth Ave         FULLER PARK -87.630560  41.801811      9
9   7040 S Cottage Grove Ave            WOODLAWN -87.605748  41.766431     10
10           2255 E 103rd St       SOUTH DEERING -87.568349  41.707933     11
11            727 E 111th St             PULLMAN -87.604506  41.692723     12
12         7808 S Halsted St      AUBURN GRESHAM -87.644229  41.752137     13
13            1438 W 63rd St      WEST ENGLEWOOD -87.660887  41.779632     14
14            3420 W 63rd St        CHICAGO LAWN -87.708864  41.778987     15
15         3120 S Halsted St          BRIDGEPORT -87.646408  41.837394     16
16          3315 W Ogden Ave      NORTH LAWNDALE -87.708382  41.856685     17
17        3151 W Harrison St  EAST GARFIELD PARK -87.705488  41.873582     18
18  1412 S Blue Island Ave\n      NEAR WEST SIDE -87.656973  41.862977     19
19     2150 N California Ave        LOGAN SQUARE -87.697452  41.921103     20
20         5701 W Madison St              AUSTIN -87.768200  41.880083     21
21      5151 N Milwaukee Ave      JEFFERSON PARK -87.766149  41.974094     22
22         4650 N Pulaski Rd         ALBANY PARK -87.728115  41.966053     23

### New Community areas

In [6]:
new_community = community.copy()
new_community.rename(columns={'ID':'ID_CA'}, inplace=True)

new_community

,ID_CA,community_area,population,area,neighbours
0,1,ROGERS PARK,55628,4.77,"[1, 2, 77]"
1,2,WEST RIDGE,77122,9.14,"[1, 2, 4, 13, 77]"
2,3,UPTOWN,57182,6.01,"[3, 4, 5, 6, 77]"
3,4,LINCOLN SQUARE,40494,6.63,"[2, 3, 4, 5, 6, 13, 14, 16, 77]"
4,5,NORTH CENTER,35114,5.31,"[3, 4, 5, 6, 7, 14, 16, 21, 22]"
...,...,...,...,...,...
72,73,WASHINGTON HEIGHTS,25065,7.41,"[49, 71, 72, 73, 75]"
73,74,MOUNT GREENWOOD,18628,7.02,"[72, 74, 75]"
74,75,MORGAN PARK,21186,8.55,"[49, 53, 72, 73, 74, 75]"
75,76,OHARE,13418,34.55,"[10, 17, 76]"
76,77,EDGEWATER,56296,4.51,"[1, 2, 3, 4, 77]"

### Distances D: distances between police stations and community areas

In [7]:
D_distances = stations.merge(distances, on = "station_name")
D_distances.drop(columns=['community_area', 'longitude', 'latitude'], inplace=True)
D_distances

,station_name,distances
0,3510 S Michigan Ave,"[2092.19, 2103.08, 1560.8, 1750.1, 1439.87, 13..."
1,1160 N Larrabee St,"[1217.56, 1283.21, 686.17, 930.23, 662.57, 467..."
2,850 W Addison St,"[784.26, 885.85, 252.87, 540.93, 298.23, 106.0..."
3,5400 N Lincoln Ave,"[478.94, 346.67, 482.46, 132.04, 511.79, 642.4..."
4,1900 W Monterey Ave,"[3025.14, 3036.02, 2493.75, 2683.05, 2372.81, ..."
5,6464 N Clark St,"[125.89, 311.05, 511.7, 415.38, 711.59, 740.61..."
6,5555 W Grand Ave,"[1597.02, 1399.75, 1335.54, 1179.09, 1029.81, ..."
7,1718 S State St,"[1833.29, 1941.22, 1377.79, 1588.24, 1278.01, ..."
8,5101 S Wentworth Ave,"[2229.84, 2240.73, 1698.46, 1887.75, 1577.52, ..."
9,7040 S Cottage Grove Ave,"[2596.72, 2607.61, 2065.33, 2254.63, 1944.4, 1..."
10,2255 E 103rd St,"[3001.86, 3012.75, 2470.48, 2659.77, 2349.54, ..."
11,727 E 111th St,"[2944.69, 2955.58, 2413.3, 2602.6, 2292.37, 21..."
12,7808 S Halsted St,"[2634.12, 2645.01, 2102.74, 2292.03, 1981.8, 1..."
13,1438 W 63rd St,"[2596.68, 2607.57, 2065.29, 2254.59, 1944.36, ..."
14,3420 W 63rd St,"[2688.95, 2699.84, 2157.56, 2346.86, 2036.63, ..."
15,3120 S Halsted St,"[2073.43, 2084.32, 1542.05, 1731.34, 1421.11, ..."
16,3315 W Ogden Ave,"[2020.02, 1822.75, 1620.34, 1602.09, 1289.65, ..."
17,3151 W Harrison St,"[1848.82, 1659.79, 1425.9, 1439.13, 1099.01, 1..."
18,1412 S Blue Island Ave\n,"[1816.02, 1826.9, 1284.63, 1473.92, 1163.69, 1..."
19,2150 N California Ave,"[1220.91, 1054.28, 854.33, 828.24, 471.1, 649...."
20,5701 W Madison St,"[2032.47, 1835.2, 1734.15, 1614.54, 1377.65, 1..."
21,5151 N Milwaukee Ave,"[1138.76, 941.5, 1055.75, 794.08, 882.92, 1120..."
22,4650 N Pulaski Rd,"[867.43, 670.16, 627.24, 449.49, 583.81, 723.9..."

### Distances d: distances between police stations

In [8]:
# !pip install openrouteservice

In [9]:
import openrouteservice
import pandas as pd
import numpy as np
import os
import time

client = openrouteservice.Client(key='5b3ce3597851110001cf6248a37fc158156a4ae3aa37ff6255cb6a41')

# Función para calcular el tiempo de viaje entre dos coordenadas
def travel_time(coord1, coord2):
    try:
        route = client.directions(
            coordinates=[coord1, coord2],
            profile='driving-car',
            format='geojson')
        
        return route['features'][0]['properties']['segments'][0]['duration']
        
    except Exception as e:
        print(f"Error calculando tiempo entre {coord1} y {coord2}: {e}")
        if cord1 (-87.64422891, 41.75213684) and cord2 == (-87.70548813, 41.87358229):
            print("SOLUCIONADO A MANO")
            return 1200
        return np.nan

# Extraer las coordenadas y nombres de estaciones
locations = list(zip(new_stations['latitude'], new_stations['longitude']))
station_names = new_stations['station_name']
station_ids = new_stations['ID_PS']

travel_times = pd.DataFrame(index=station_names, columns=station_names)


# Rellenar la matriz, calculando solo las distancias que faltan
for i, station1 in enumerate(station_names):
    coord1 = (new_stations.loc[i, 'longitude'], new_stations.loc[i, 'latitude'])
    
    for j in range(i + 1, len(station_names)):
        station2 = station_names[j]
        
        # Solo calcula si no existe el valor en la cache
        if pd.isna(travel_times.loc[station1, station2]):
            coord2 = (new_stations.loc[j, 'longitude'], new_stations.loc[j, 'latitude'])
            travel_time_value = travel_time(coord1, coord2)
            
            # Almacenar el tiempo en ambas direcciones
            travel_times.loc[station1, station2] = travel_time_value
            travel_times.loc[station2, station1] = travel_time_value
            
            # Pausa para evitar límite de solicitudes
            time.sleep(1)

# Asignar 0 para el tiempo de viaje de cada estación a sí misma
for station in station_names:
    travel_times.loc[station, station] = 0

/home/aitana/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/openrouteservice/client.py:211: UserWarning: Rate limit exceeded. Retrying for the 1st time.
  warnings.warn('Rate limit exceeded. Retrying for the {0}{1} time.'.format(retry_counter + 1,
/home/aitana/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/openrouteservice/client.py:211: UserWarning: Rate limit exceeded. Retrying for the 2nd time.
  warnings.warn('Rate limit exceeded. Retrying for the {0}{1} time.'.format(retry_counter + 1,
/home/aitana/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/openrouteservice/client.py:211: UserWarning: Rate limit exceeded. Retrying for the 3rd time.
  warnings.warn('Rate limit exceeded. Retrying for the {0}{1} time.'.format(retry_counter + 1,
/home/aitana/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/openrouteservice/client.py:211: UserWarning: Rate limit exceeded. Retrying for the 4th time.
  warnings.warn('Rate limit exceeded. Retrying for the {0}{1} time.'.format(retry_counter + 1,
/home/aitana/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/openrouteservice/client.py:211: UserWarning: Rate limit exceeded. Retrying for the 5th time.
  warnings.warn('Rate limit exceeded. Retrying for the {0}{1} time.'.format(retry_counter + 1,
/home/aitana/.config/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/openrouteservice/client.py:211: UserWarning: Rate limit exceeded. Retrying for the 6th time.
  warnings.warn('Rate limit exceeded. Retrying for the {0}{1} time.'.format(retry_counter + 1,

In [25]:
# Generar el DataFrame
d_distances = {
    "station_name": station_names,
    "ID_PS": station_ids,
    "d_distances": [travel_times.loc[station].tolist() for station in station_names]}

d_distances = pd.DataFrame(d_distances)

In [26]:
d_distances

,station_name,ID_PS,d_distances
0,3510 S Michigan Ave,1,"[0, 989.7, 1360.4, 1809.6, 1227.2, 2021.8, 161..."
1,1160 N Larrabee St,2,"[989.7, 0, 487.2, 992.2, 1827.8, 1154.4, 1160...."
2,850 W Addison St,3,"[1360.4, 487.2, 0, 615.9, 2216.9, 709.2, 1220...."
3,5400 N Lincoln Ave,4,"[1809.6, 992.2, 615.9, 0, 2637.8, 373.8, 1185...."
4,1900 W Monterey Ave,5,"[1227.2, 1827.8, 2216.9, 2637.8, 0, 2951.4, 25..."
5,6464 N Clark St,6,"[2021.8, 1154.4, 709.2, 373.8, 2951.4, 0, 1514..."
6,5555 W Grand Ave,7,"[1618.0, 1160.6, 1220.3, 1185.4, 2547.6, 1514...."
7,1718 S State St,8,"[410.2, 756.2, 1195.2, 1685.7, 1370.4, 1705.7,..."
8,5101 S Wentworth Ave,9,"[341.5, 1103.8, 1492.9, 1913.8, 1015.8, 2117.3..."
9,7040 S Cottage Grove Ave,10,"[722.6, 1383.8, 1772.8, 2193.8, 878.0, 2397.3,..."
10,2255 E 103rd St,11,"[1305.0, 1914.3, 2303.3, 2724.3, 787.7, 2927.7..."
11,727 E 111th St,12,"[1232.9, 1833.5, 2222.5, 2643.5, 489.4, 2846.9..."
12,7808 S Halsted St,13,"[825.3, 1425.9, 1815.0, 2235.9, 805.0, 2439.4,..."
13,1438 W 63rd St,14,"[766.6, 1389.2, 1778.3, 2199.2, 956.2, 2402.7,..."
14,3420 W 63rd St,15,"[1066.6, 1680.8, 2069.8, 2490.8, 1252.8, 2694...."
15,3120 S Halsted St,16,"[315.0, 904.9, 1293.9, 1714.9, 1364.9, 1918.4,..."
16,3315 W Ogden Ave,17,"[1016.1, 1046.3, 1379.0, 1568.6, 1945.7, 1898...."
17,3151 W Harrison St,18,"[909.7, 853.4, 1192.6, 1412.7, 1839.3, 1733.3,..."
18,1412 S Blue Island Ave\n,19,"[584.8, 747.4, 1138.7, 1559.7, 1514.4, 1763.1,..."
19,2150 N California Ave,20,"[1246.0, 617.1, 664.3, 810.7, 2175.6, 1108.8, ..."
20,5701 W Madison St,21,"[1252.6, 1189.9, 1520.7, 1603.7, 2182.2, 1933...."
21,5151 N Milwaukee Ave,22,"[1815.1, 1186.2, 1058.9, 768.7, 2744.7, 1031.2..."
22,4650 N Pulaski Rd,23,"[1626.6, 997.7, 707.0, 424.1, 2556.2, 753.5, 7..."

### Criminality index

In [12]:
new_community.head()

   ID_CA  community_area  population  area                       neighbours
0      1     ROGERS PARK       55628  4.77                       [1, 2, 77]
1      2      WEST RIDGE       77122  9.14                [1, 2, 4, 13, 77]
2      3          UPTOWN       57182  6.01                 [3, 4, 5, 6, 77]
3      4  LINCOLN SQUARE       40494  6.63  [2, 3, 4, 5, 6, 13, 14, 16, 77]
4      5    NORTH CENTER       35114  5.31  [3, 4, 5, 6, 7, 14, 16, 21, 22]

In [13]:
crimes_per_community = crimes.groupby("community_area").size()
crimes_per_community = crimes_per_community.reset_index()
crimes_per_community.columns = ['community_area', 'criminality_index']
crimes_per_community['criminality_index'] = crimes_per_community['criminality_index']/sum(crimes_per_community['criminality_index'])

In [14]:
R_criminalities = crimes_per_community.merge(new_community, on="community_area")
R_criminalities.drop(columns=["population", "area", "neighbours"], inplace=True)
R_criminalities = R_criminalities.sort_values("ID_CA").reset_index()
R_criminalities

    index      community_area  criminality_index  ID_CA
0      60         ROGERS PARK           0.017029      1
1      74          WEST RIDGE           0.016114      2
2      66              UPTOWN           0.016228      3
3      39      LINCOLN SQUARE           0.008787      4
4      51        NORTH CENTER           0.005632      5
..    ...                 ...                ...    ...
72     67  WASHINGTON HEIGHTS           0.012218     73
73     46     MOUNT GREENWOOD           0.002248     74
74     45         MORGAN PARK           0.007599     75
75     56               OHARE           0.006995     76
76     21           EDGEWATER           0.012048     77

[77 rows x 4 columns]

In [15]:
sum(R_criminalities['criminality_index'])

1.0

## Organizing new data

### Police stations

In [27]:
police_stations = new_stations.merge(D_distances, on="station_name")
police_stations = police_stations.merge(d_distances, on="station_name")
police_stations = police_stations.rename(columns={"distances":"D_distances", 'ID_PS_x': 'ID_PS'})
police_stations.drop(columns=['ID_PS_y'], inplace= True)

In [28]:
police_stations

,station_name,community_area,longitude,latitude,ID_PS,D_distances,d_distances
0,3510 S Michigan Ave,DOUGLAS,-87.623395,41.830702,1,"[2092.19, 2103.08, 1560.8, 1750.1, 1439.87, 13...","[0, 989.7, 1360.4, 1809.6, 1227.2, 2021.8, 161..."
1,1160 N Larrabee St,NEAR NORTH SIDE,-87.643352,41.903242,2,"[1217.56, 1283.21, 686.17, 930.23, 662.57, 467...","[989.7, 0, 487.2, 992.2, 1827.8, 1154.4, 1160...."
2,850 W Addison St,LAKE VIEW,-87.651512,41.947400,3,"[784.26, 885.85, 252.87, 540.93, 298.23, 106.0...","[1360.4, 487.2, 0, 615.9, 2216.9, 709.2, 1220...."
3,5400 N Lincoln Ave,LINCOLN SQUARE,-87.692845,41.979550,4,"[478.94, 346.67, 482.46, 132.04, 511.79, 642.4...","[1809.6, 992.2, 615.9, 0, 2637.8, 373.8, 1185...."
4,1900 W Monterey Ave,MORGAN PARK,-87.668520,41.691435,5,"[3025.14, 3036.02, 2493.75, 2683.05, 2372.81, ...","[1227.2, 1827.8, 2216.9, 2637.8, 0, 2951.4, 25..."
5,6464 N Clark St,ROGERS PARK,-87.671324,41.999763,6,"[125.89, 311.05, 511.7, 415.38, 711.59, 740.61...","[2021.8, 1154.4, 709.2, 373.8, 2951.4, 0, 1514..."
6,5555 W Grand Ave,BELMONT CRAGIN,-87.765574,41.918609,7,"[1597.02, 1399.75, 1335.54, 1179.09, 1029.81, ...","[1618.0, 1160.6, 1220.3, 1185.4, 2547.6, 1514...."
7,1718 S State St,NEAR SOUTH SIDE,-87.627356,41.858373,8,"[1833.29, 1941.22, 1377.79, 1588.24, 1278.01, ...","[410.2, 756.2, 1195.2, 1685.7, 1370.4, 1705.7,..."
8,5101 S Wentworth Ave,FULLER PARK,-87.630560,41.801811,9,"[2229.84, 2240.73, 1698.46, 1887.75, 1577.52, ...","[341.5, 1103.8, 1492.9, 1913.8, 1015.8, 2117.3..."
9,7040 S Cottage Grove Ave,WOODLAWN,-87.605748,41.766431,10,"[2596.72, 2607.61, 2065.33, 2254.63, 1944.4, 1...","[722.6, 1383.8, 1772.8, 2193.8, 878.0, 2397.3,..."
10,2255 E 103rd St,SOUTH DEERING,-87.568349,41.707933,11,"[3001.86, 3012.75, 2470.48, 2659.77, 2349.54, ...","[1305.0, 1914.3, 2303.3, 2724.3, 787.7, 2927.7..."
11,727 E 111th St,PULLMAN,-87.604506,41.692723,12,"[2944.69, 2955.58, 2413.3, 2602.6, 2292.37, 21...","[1232.9, 1833.5, 2222.5, 2643.5, 489.4, 2846.9..."
12,7808 S Halsted St,AUBURN GRESHAM,-87.644229,41.752137,13,"[2634.12, 2645.01, 2102.74, 2292.03, 1981.8, 1...","[825.3, 1425.9, 1815.0, 2235.9, 805.0, 2439.4,..."
13,1438 W 63rd St,WEST ENGLEWOOD,-87.660887,41.779632,14,"[2596.68, 2607.57, 2065.29, 2254.59, 1944.36, ...","[766.6, 1389.2, 1778.3, 2199.2, 956.2, 2402.7,..."
14,3420 W 63rd St,CHICAGO LAWN,-87.708864,41.778987,15,"[2688.95, 2699.84, 2157.56, 2346.86, 2036.63, ...","[1066.6, 1680.8, 2069.8, 2490.8, 1252.8, 2694...."
15,3120 S Halsted St,BRIDGEPORT,-87.646408,41.837394,16,"[2073.43, 2084.32, 1542.05, 1731.34, 1421.11, ...","[315.0, 904.9, 1293.9, 1714.9, 1364.9, 1918.4,..."
16,3315 W Ogden Ave,NORTH LAWNDALE,-87.708382,41.856685,17,"[2020.02, 1822.75, 1620.34, 1602.09, 1289.65, ...","[1016.1, 1046.3, 1379.0, 1568.6, 1945.7, 1898...."
17,3151 W Harrison St,EAST GARFIELD PARK,-87.705488,41.873582,18,"[1848.82, 1659.79, 1425.9, 1439.13, 1099.01, 1...","[909.7, 853.4, 1192.6, 1412.7, 1839.3, 1733.3,..."
18,1412 S Blue Island Ave\n,NEAR WEST SIDE,-87.656973,41.862977,19,"[1816.02, 1826.9, 1284.63, 1473.92, 1163.69, 1...","[584.8, 747.4, 1138.7, 1559.7, 1514.4, 1763.1,..."
19,2150 N California Ave,LOGAN SQUARE,-87.697452,41.921103,20,"[1220.91, 1054.28, 854.33, 828.24, 471.1, 649....","[1246.0, 617.1, 664.3, 810.7, 2175.6, 1108.8, ..."
20,5701 W Madison St,AUSTIN,-87.768200,41.880083,21,"[2032.47, 1835.2, 1734.15, 1614.54, 1377.65, 1...","[1252.6, 1189.9, 1520.7, 1603.7, 2182.2, 1933...."
21,5151 N Milwaukee Ave,JEFFERSON PARK,-87.766149,41.974094,22,"[1138.76, 941.5, 1055.75, 794.08, 882.92, 1120...","[1815.1, 1186.2, 1058.9, 768.7, 2744.7, 1031.2..."
22,4650 N Pulaski Rd,ALBANY PARK,-87.728115,41.966053,23,"[867.43, 670.16, 627.24, 449.49, 583.81, 723.9...","[1626.6, 997.7, 707.0, 424.1, 2556.2, 753.5, 7..."

### Community areas

In [18]:
community_areas = new_community.merge(R_criminalities[["ID_CA", "criminality_index"]], on="ID_CA")
community_areas

,ID_CA,community_area,population,area,neighbours,criminality_index
0,1,ROGERS PARK,55628,4.77,"[1, 2, 77]",0.017029
1,2,WEST RIDGE,77122,9.14,"[1, 2, 4, 13, 77]",0.016114
2,3,UPTOWN,57182,6.01,"[3, 4, 5, 6, 77]",0.016228
3,4,LINCOLN SQUARE,40494,6.63,"[2, 3, 4, 5, 6, 13, 14, 16, 77]",0.008787
4,5,NORTH CENTER,35114,5.31,"[3, 4, 5, 6, 7, 14, 16, 21, 22]",0.005632
...,...,...,...,...,...,...
72,73,WASHINGTON HEIGHTS,25065,7.41,"[49, 71, 72, 73, 75]",0.012218
73,74,MOUNT GREENWOOD,18628,7.02,"[72, 74, 75]",0.002248
74,75,MORGAN PARK,21186,8.55,"[49, 53, 72, 73, 74, 75]",0.007599
75,76,OHARE,13418,34.55,"[10, 17, 76]",0.006995
76,77,EDGEWATER,56296,4.51,"[1, 2, 3, 4, 77]",0.012048

### Police areas

In [19]:
police_areas = {'police_area': [1, 2, 3, 4, 5], 'max_workload': [0, 0, 0, 0, 0]}

pd.DataFrame(police_areas)

   police_area  max_workload
0            1             0
1            2             0
2            3             0
3            4             0
4            5             0

## Export and save

In [29]:
police_stations.to_csv("./new_data/police_stations.csv")
police_stations.to_json("./new_data/police_stations.json")

In [23]:
community_areas.to_csv("./new_data/community_areas.csv")
community_areas.to_json("./new_data/community_areas.json")

In [30]:
d_distances.to_csv("./new_data/d_distances.csv")
d_distances.to_json("./new_data/d_distances.json")